<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>
<% unless @article.new_record? or !current_user.admin? %>
  <%= form_tag('/admin/content/merge') do %>
    <%= hidden_field_tag(':id', @article.id.to_s) %>
    <h3>Merge Articles</h3>
    <%= label_tag :merge_with, 'Article ID' %>
    <%= text_field_tag :merge_with %>
    <br/>
    <%= submit_tag 'Merge', class: 'btn info' %>
  <% end %>
<% end %>
